<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myFilm" class="com.netcracker.spel.Film" scope="prototype">
        <property name="title" value="#{simpleConfig.title}"/>
        <property name="year" value="#{simpleConfig.year}"/>
        <property name="director" value="#{simpleConfig.director}"/>
    </bean>

    <bean id="simpleConfig" class="com.netcracker.spel.SimpleConfig" scope="prototype"/>
</beans>